.blogPreview {
  background-color: #00000005;
}

.blogPreview .row {
  padding: 20px 10px 20px 10px;
  cursor: pointer;
}

.blogPreview img {
  width: 100%;
}

.blogPreview .loading {
  height: 100%;
  background: url('../../res/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.blogPreview .preview {
  height: 150px;
}

.blogPreview .loaded {
  background-repeat: no-repeat;
  background-size: cover;
}

.blogPreview h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.blogPreview h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0px;
}

.blogPreview h3 {
  float: left;
  font-size: 19px;
  font-weight: 600;
  font-family: Helvetica;
  letter-spacing: 0.5px;
}

.blogPreview .details div {
  float: left;
}

@media (min-width: 768px) and (max-width: 991px) {
  .blogPreview #date {
    margin-top: 20px;
  }
  .blogPreview .preview {
    height: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .blogPreview #date {
    margin-top: 10px;
  }
  .blogPreview .preview {
    height: 200px;
  }
}

@media (max-width: 575px) {
  .blogPreview #date {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .blogPreview .preview {
    height: 200px;
  }

  .blogPreview h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .blogPreview h2 {
    font-size: 16px;
  }

  .blogPreview #date h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
