.portfolio {
  display: flex;
  align-items: center;
  background-color: rgba(226, 226, 226, 0.2);

  min-height: calc(100vh - 63px - 75px);
}

.portfolio input,
.portfolio button {
  font-family: 'Roboto';
  font-weight: 100;
}

.portfolio .view-work-col {
  text-align: center;
}

.portfolio h2 {
  font-family: 'Roboto Condensed';
  font-size: 40px;
}

.portfolio h5 {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  font-weight: 600;
}

.portfolio .submit-button {
  width: 80px;
}

.portfolio .submit-button.btn.btn-outline-secondary {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.portfolio .submit-button.btn.btn-outline-secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #6c757d;
}

.portfolio .submit-button.btn.btn-outline-secondary:active {
  border-color: #ced4da;
}

.portfolio .btn-outline-secondary {
  border: 1px solid #ced4da;
}

@media (max-width: 500px) {
  .portfolio {
  }
}

@media (max-width: 430px) {
  .portfolio h2 {
    font-size: 36px;
  }
}

@media (max-width: 360px) {
  .portfolio h2 {
    font-size: 32px;
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .portfolio .input-group {
    padding-left: 5%;
    padding-right: 5%;
  }
}
